@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #000d36;
    color: white;
}

#tablero {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    width: 90dvh;
    height: 90dvh;
}
.pixel {
    position: absolute;
    height: 3.333333334%;
    width: 3.3333333334%;
    border: 1px solid rgba(145, 145, 145, 0.54);
}

[data-status="1"]{
    background-color: #0f0;
}
[data-status="2"]{
    background-color: #00ff00;
}
[data-status="3"] {
    background-color: #f00;
}

#game_over {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    text-transform: uppercase;
    font-family: "Press Start 2P", cursive;
}
#recogerdatos{
    position: absolute;
    background-color: #000d36;
    border-radius: 10px;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 320px;
    padding: 10px;
    transform: translateX(-50%);
    font-family: "Press Start 2P", cursive;
    color: lightseagreen;
}
#recogerdatos input{
    padding: 10px;
    width: 275px;

    font-size: 0.75em;
    font-family: "Press Start 2P", cursive;
    color: lightseagreen;
    border: 1px solid lightgreen;
    margin: 5px;
    border-radius: 10px;
}
#recogerdatos button{
    padding: 10px;
    width: fit-content;
    font-size: 0.75em;
    font-family: "Press Start 2P", cursive;
    color: lightseagreen;
    border: 1px solid lightgreen;
    margin: 5px;
    border-radius: 10px;
}
#tablaPuntuaciones{
    position: relative;
    top: 7.5vh;
    left: 110%;
    transform: translateX(-5%);
    font-size: 1.15em;
    font-family: "Press Start 2P", sans-serif;
    padding: 10px;
    color: yellowgreen;
}

#tablaPuntuacionesContenido{
    list-style: decimal;
    padding: 10px;
    font-size: 0.85em;
    position: relative;
    top: 10px;
    left: 13%;
}
#tablaPuntuacionesContenido li{
    padding: 10px;
    color: lightgreen;
    font-size: 0.85em;
    position: relative;
    top: 10px;
    left: 13%;
}

#puntuacion {
    position: relative;
    width: fit-content;
    font-size: larger;
    top: 5vh;
    left: 125%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #cccccc;
    padding: 12px;
    border-radius: 25px;
    box-shadow: inset 0 0 8px lightgreen;
    color: #cccccc;
}


#puntuacion_max {
    position: relative;
    top: 0;
    left: 110%;
    color: yellow;
    font-family: "Press Start 2P", cursive;
}


#controles {
    position: absolute;
    top: 40%;
    left: -65vh;
    display: flex;
    flex-direction: column;
    color: #ccccccd7;
    padding: 12px;
    font-size: 1.2em;
    line-height: 48px;
    box-shadow: 0 0 8px lightgreen;
}

#control-head {
    text-align: center;
    font-family: "Press Start 2P", cursive;
}
.control-button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    color: #cccccc;
    text-shadow: 0 0 8px lightgreen;
}
#control-up::after {
    content: url("controles/flecha-arriba.png");
    position: relative;
    left: 10px;
}
#control-down::after {
    content: url("controles/flecha-hacia-abajo.png");
    position: relative;
    left: 10px;
}
#control-left::after {
    content: url("controles/flecha-izquierda.png");
    position: relative;
    left: 10px;
}
#control-right::after {
    content: url("controles/flecha-derecha.png");
    position: relative;
    left: 10px;
}

#play {
    position: absolute;
    top: 38%;
    left: 45%;
    transform: translateX(-45%);
    font-family: "Press Start 2P", cursive;
    font-size: 1.3em;
    padding: 20px;
    color: lightgreen;
    animation: animate-play 1.4s linear infinite;
}

@keyframes animate-play {
    0% {
        text-shadow: 0 0 4px lightgreen;
    }
    50% {
        text-shadow: 0 0 8px lightgreen;
    }
    100% {
        text-shadow: 0 0 4px lightgreen;
    }
}
